[Unit]
Description=Add the Flathub Flatpak remote
Documentation=https://flathub.org/
Wants=network-online.target
After=network-online.target
ConditionPathExists=/usr/bin/flatpak
ConditionPathExists=!/var/lib/flatpak/.flathub-initialized
Before=flatpak-system-helper.service flatpak-preinstall.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/flatpak remote-add --system --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
ExecStartPost=/usr/bin/touch /var/lib/flatpak/.flathub-initialized

[Install]
WantedBy=multi-user.target
